# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.internal
*.includecache

bin
cocos2d/cocos/platform/android/java/gen
proj.android/assets
proj.android/gen
proj.android/obj
.settings
/linux-build/
/lib/
